  body {
    margin: 0;
  }

  .intro{
    font-family:"Microsoft Yahei", sans-serif;
    font-size:18px;
    font-weight:500;
  }

  .c10623{
    color:black;
    width:47px;
    height:42px;
  }

  .c11310{
    padding:10px;
    font-family:"Hiragino Sans GB", sans-serif;
  }
  