
    .main-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    .main-container-text {
      width: 30%;
      margin-right: 10px;
      border: 1px solid #ccc;
      padding: 10px;
      background-size: cover;
      background-position: 10% 10%;
    }
    .main-container-text-right {
      width: 30%;
      border: 1px solid #ccc;
      padding: 10px;
      background-size: cover;
      background-position: 10% 10%;
    }
    .textsub {
      padding: 10px;
      margin-top: 10px;
      background-color: rgba(255, 99, 45, 0.5);
    }
    .main-logo {
      max-width: 10%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
    .index-intro {
      margin-top: 20px;
      font-size: 28px;
      text-align: center;
    }
    .text-token {
      font-weight: bold;
    }
    .main-adaptive-block {
      width: 100%;
      padding: 10px; 
      margin-top: 20px;
      margin-bottom: 20px;
      border: 1px solid #cccccc;
      box-sizing: border-box; 
      background-size: cover;
      background-position: 10% 10%;
    }
    .button-test {
      font-size: 10px;
      padding: 10px;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 2px;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
    }
    .button-test:hover {opacity: 0.5}
    .button-day {
      font-size: 8px;
      background-color: #ffffff;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
    }
    .button-day:hover {opacity: 0.5}
    .button-show {
      font-size: 10px;
      padding: 5px;
      background-color: #cccccc;
      border: 1px solid #cccccc;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
    }
    .button-show:hover {opacity: 0.5}
    @media (max-width: 600px) {
      .main-container {
        flex-direction: column; 
      }
      .main-container-text {
        width: 100%; 
        margin-bottom: 10px; 
      }
      .main-container-text-right {
        width: 100%; 
        margin-bottom: 10px; 
      }
      .main-adaptive-block {
        width: 100%;
      }
    }
